/*RESETS*/
html {
  box-sizing: border-box;
  overflow-x:hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, body * {
	margin:0;
	padding:0;
}
a img{
	border:0;
}

/* PAGE */

body{
	color:#353839;
}
.page-width {
	width:100%;
	max-width: 960px;
	margin:0 auto;
	padding:0 20px;
}

/* FONTS */

h1{
	font-family:SourceSansPro-Regular, helvetica, arial, sans-serif;	
	font-size:3.3em;
	font-weight:normal;
	float:left;
}
h1 strong{
	font-family:SourceSansPro-Bold, helvetica, arial, sans-serif;	
	font-weight:normal;
}
h1 a{
	color:#003461;
}
h2{
	font-family:SourceSansPro-Bold, helvetica, arial, sans-serif;
	font-size:1.8em;
	color:#063a6e;
	font-weight:normal;
	float:left;
	margin:20px 0;
}
h3{
	font-family:SourceSansPro-Semibold, helvetica, arial, sans-serif;
	font-size:1.4em;
	color:#063a6e;
	font-weight:normal;
	line-height:1;
	margin-bottom:20px;
}
h3 a{
	color:#063a6e;
}
h3 a:hover, h4 a:focus{
	text-decoration:underline
}
h4, span.skill{
	font-family:SourceSansPro-Bold, helvetica, arial, sans-serif;
	font-size:1em;
	margin-bottom:10px;
	margin-top:20px;
	color:#063a6e;
	font-weight:normal;
}
h4 span{
	font-family:helvetica, arial, sans-serif;
	color:black;
	font-weight:200;
	margin-left:10px;
	font-size:16px;
}
h4 a{
	color:#063a6e;
}
h4 a:hover, h4 a:focus{
	text-decoration:underline
}
h4:first-of-type{
	margin-top:0px;
}
p, ol, ul, label, textarea, input, .button{
	font-size:16px;
	font-family:Helvetica, Arial, sans-serif;
	line-height:1.35;
}
ul + p, ol + p, dl + p, p + p {
	margin-top:20px;
}
p + ul{
    margin-top:5px;
}
ul{
	list-style-type:square;
	margin-left:1em;
}
ul ul{
	list-style-type:none;
}
ul ul li:before{
	content:"-";
	position:relative;
	left: -.3em;
}
ul li{
	text-indent:-5px;
}
@font-face {
	font-family: 'SourceSansPro-Regular';
	src: url('../fonts/sourcesansproregular.eot');
	src: url('../fonts/sourcesansproregular.eot?#iefix') format('embedded-opentype'),
			url('../fonts/sourcesansproregular.svg#sourcesansproregular') format('svg'),
			url('../fonts/sourcesansproregular.woff') format('woff'),
			url('../fonts/sourcesansproregular.ttf') format('truetype');		 
}
@font-face {
	font-family: 'SourceSansPro-Bold';
	src: url('../fonts/sourcesansprobold.eot');
	src: url('../fonts/sourcesansprobold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/sourcesansprobold.svg#sourcesansprobold') format('svg'),
			url('../fonts/sourcesansprobold.woff') format('woff'),
			url('../fonts/sourcesansprobold.ttf') format('truetype');
			 
}
@font-face {
	font-family: 'SourceSansPro-Semibold';
	src: url('../fonts/sourcesansprosemibold.eot');
	src: url('../fonts/sourcesansprosemibold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/sourcesansprosemibold.svg#sourcesansprobold') format('svg'),
			url('../fonts/sourcesansprosemibold.woff') format('woff'),
			url('../fonts/sourcesansprosemibold.ttf') format('truetype');
			 
}	

/* LINKS */

a{
	text-decoration:none;
}
main li a, main p a{
	color:#063a6e;
	text-decoration:underline;
}
img.icon{
	padding-right: 6px;
	position: relative;
	top: 2px;
}

/* SPRITES */

.social-sprites{
	float:right;
	margin:16px 0px;
}
.social-sprites li{
	float:left;
	width:40px;
	height:40px;
	list-style-type:none;
	margin-left:10px;
	background-image:url('../images/bg-social.png');
	background-position-y: 0px;
    -webkit-transition:background-position .4s;
    transition:background-position .4s;
}
.social-sprites a{
    padding:20px;
}
.social-sprites li:hover,
.social-sprites li:focus{
	background-position-y: 40px;
}
.social-sprites li:nth-of-type(1){
	background-position-x:0px;
}
.social-sprites li:nth-of-type(2){
	background-position-x: 40px;
}


/* MAIN NAV */

header nav{
    background-color: #003461;
    margin-bottom: 10px;
    margin: 0 -9999rem;
    padding: 0.25rem 9999rem;
    clear: both;
    overflow: hidden;
}

header nav ul{
	list-style-type:none;
	float:right;
	margin: 0;
}

header nav li{
	font-family: SourceSansPro-Regular, helvetica, arial, sans-serif;
	font-size: 1em;
	text-transform: lowercase;
	float: left;
	margin-left: 35px;
	margin-top: 3px;
	margin-bottom: 1px;
}
header nav li:first-of-type{
	margin-left:0;
}
header nav a{
	color:white;
}
header nav li.active a,
header nav a:hover,
header nav a:focus,
header nav .current-menu-item a{
	color:#ffb521;	
}

/* CONTENT AREA */

main{
	margin:0 auto 30px;
}
section{
	width: 100%;
	border-top: 1px solid #ddd;
	overflow: hidden;
	margin-top: 20px;
	padding-top: 30px;
}
section:last-of-type{
	margin-bottom:15px;
}
.section-title{
	float:left;
	clear:right;
	width:22.9166666%; 
}
.section-content{
	width:75%; 
	float:right;
	margin-bottom: 25px;
}
.section-content+.section-content{
	margin-top:30px;
}
.col2{
	width:41.66666666%;
	float:left;
}
.col2:last-of-type{
	width:55.5555555%;
	float:right;
}
.about-photo{
	width:31.25%;
	float:left;
}
.about-info{
	width:66.666666%;
	float:right;
}
img.thumb{
	width:100%;
	max-width:300px;
	margin-bottom:15px;
}
p.visit{
	margin-top:5px;
}
p.visit:first-of-type{
	margin-top:20px;
}
.download-links{
	float:right;
	list-style:none;
    margin-top: 10px;
}
.alignright{
	float:right;
	margin:0 0 15px 15px;
}
.alignleft{
	float:left;
	margin:0 15px 15px 0;
}
.clear{
	clear:both;
}
.nowrap{
	white-space: nowrap;
}

/* CODE SAMPLES */

.togglator{
	margin: 15px 0;
	clear:both;
}
.togglator-title{
	cursor:pointer;
	border:1px solid #063a6e;
	padding-top:5px;
	font-family:SourceSansPro-Semibold, helvetica, arial, sans-serif;
	font-size:16px;
	color:#063a6e;
	overflow:hidden;
}
/*.togglator-arrow{
	width: 12px;
	margin: 4px 10px;
	float: left;
	background-image: url('../images/bg-icon-show.png');
	height: 10px;
}*/
.open .rotate{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.animate{
    -webkit-transition:-webkit-transform .5s;
    transition:transform .5s;
}

/* FORMS */

form{
	overflow: hidden;
}
textarea{
	width:100%;
	height:150px;
	margin-bottom:10px;
	color:#063a6e;
}
label{
	width:100%;
}
input{
	width:100%;
	padding:2px 0px;
	margin-bottom:10px;
}
.button{
	cursor: pointer;
	width:30%;
	border:1px solid #003461;
	color:#003461;
	background: #ddd;
	text-align: center;
	padding-top:3px;
	margin-bottom:15px;
}

/* CONTACT PAGE */

#contact-info{
	width:57.447%;
	float:left;
	clear:both;
}
#contact-form{
	width:40.426%;
	float:right;
}
#contact-form table,
#contact-form textarea{
	width:100%;
}
.formlabel{
	width:21.053%;
}
#contact-form input{
	width:100%;
	padding:2px 0px;
}
#contact-form input#submit{
	width: 20%;
	margin-top: 15px;
	border: 1px solid #003644;
	background: #ddd;
	color: #003;
	float: right;
	padding: 4px;
	font-size: 12px;
}
#contact-form label{
	line-height:30px;
	font-size:16px;
}
#contact-form p{
	margin-bottom:20px;
}

/* FOOTER */

#footer-bar{
	height:25px;
	background-color:#003461;
	overflow:hidden;
	width:100%;
}
footer{
    font-size: 14px;
    margin: 20px;
    text-align: center;
}
#copyright{
	margin: 20px;
	font-size:14px;
}